:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --food-primary: #FC7523;
  --food-light: #F5f5f1;
  --food-lighter: #FFFFFF;
  --food-dark: #67615A;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}