/* Color Palette */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --food-primary: #FC7523;
  --food-light: #F5f5f1;
  --food-lighter: #FFFFFF;
  --food-dark: #67615A;
  --food-button-large: #edede7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;



  .col-3 {
    width: calc((100% / 12) * 3);

    img {
      max-width: 100%;
    }
  }

  .col-4 {
    width: calc((100% / 12)*4);

    img {
      max-width: 100%;
    }
  }

  .col-6 {
    width: calc((100%/12)*6);

    img {
      max-width: 100%;
      display: block;
    }
  }

  .col-8 {
    width: calc((100%/12)*8);

    img {
      max-width: 100%;
    }
  }
}